<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249390849714-tl1s8pn1pr1e76ebnunu86eagjm98sm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249390849714-tl1s8pn1pr1e76ebnunu86eagjm98sm8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>249390849714-arthhulf931980akfv5bkk9for29u4fp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtaWgamr4fHU5Ly4aFLXvG-95wFapab-s</string>
	<key>GCM_SENDER_ID</key>
	<string>249390849714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourname.chaovnapp</string>
	<key>PROJECT_ID</key>
	<string>chaovietnam-login</string>
	<key>STORAGE_BUCKET</key>
	<string>chaovietnam-login.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249390849714:ios:2f749dcfadaf5146e973ab</string>
</dict>
</plist>

